# Fichiers Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints/
*.pyc

# VS Code
.vscode/
.idea/

# Secrets (à ne pas commit !)
config/psql_var.py

# Fichiers système
.DS_Store
Thumbs.db

# Data sensibles ou bruyantes
*.env
*.log

# Jupyter Notebooks runtime
.ipynb_checkpoints/

# Environnements virtuels (au cas où tu en utilises localement)
env/
venv/
.myenv/
